html,
body {
    font-family: 'Droid Serif', serif;
    background-color: #333399;
    color: #ecf0f1;
	font-weight: 400;
    text-rendering: optimizeLegibility;
    padding-top: 20px;
}

.container {
    background-color: #333399;
}

/* Images and icons */
.img {}

.hero {
    margin: 10px auto;
    padding-top: 10px;
}

.social-icons,
a.social-icons:link,
a.social-icons:visited {
    color: #ff6633;
    display: inline; 
    font-size: 250%;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

/* White space and additional margins */
.white-space {
	margin: 5% auto;
}

/* Project sub-heading; text with margin space for grid */
.grid-space {
    font-size: 85%;
	margin-bottom: 7.5%;
}

/* Headings and typography */
h4 {
    font-style: italic;
    margin-bottom: 5px;
    padding-top: 2px;
}

h5 {
	font-size: 125%;
    letter-spacing: 0.5px;
	line-height: 180%;
}

.lead {
	font-size: 125%;
    letter-spacing: 0.5px;
	line-height: 180%;
}

.text-muted {
	color: #ff6633;
	font-size: 1.5em;
    letter-spacing: 0.25px;
}

.footer {
    font-size: 75%;
}

/* Navigation and links */
.nav {
    background-color: #333399;
    padding-bottom: 15px;
    padding-top: 15px; 
	font-size: 90%;
}

.link-portfolio {
	line-height: 1.75em;
	font-size: 1.5em;
}

.text-logo,
.text-logo:link,
.text-logo:visited,
.link-contact,
.link-contact:link,
.link-contact:visited,
.link-portfolio,
.link-portfolio:link,
.link-portfolio:visited,
.link-backtotop,
.link-backtotop:link,
.link-backtotop:visited {
	font-weight: 700;
	color: #ecf0f1;
	letter-spacing: 1px;
    text-decoration: none;
}

a.text-logo:hover,
a.text-logo:active {
	color: #ecf0f1;
	text-decoration: none;
}

a.link-contact:hover,
a.link-contact:active,
a.link-portfolio:hover,
a.link-portfolio:active,
a.link-backtotop:hover,
a.link-backtotop:active {
	color: #ff6633;
	font-style: italic;
	text-decoration: underline;
    transition: 0.75s;
}

/* Medium devices and landscape orientation (700px and up) */
@media (min-width: 700px) {
	h5,
    .lead {
		font-size: 150%;
        line-height: 175%;
        letter-spacing: 0.75px;
	}
    
	nav {
		font-size: 125%;
	}
}
