html,
body {
    font-family: 'Droid Serif', serif;
    color: #ecf0f1;
	font-weight: 400;
    text-rendering: optimizeLegibility;
    padding-top: 20px;
    background: #333399; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#333399, #12124c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333399, #12124c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333399, #12124c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333399, #12124c); /* Standard syntax */
}

/* -------------------- Images and icons ------------------ */
.hero {
    margin: 10px auto;
}

.image {
    margin: 35px auto 0 auto;
}

hr {
    margin: 5px auto;
    border: 2px dashed #333399;
    width: 40%;
}

hr.rule-first {
    margin: 0 auto 40px auto;
}

.services-icons {
    font-size: 2.5em;
    color: #ea6b64;
    display: inline; 
    text-decoration: none;
}

a.social-icons,
a.social-icons:link,
a.social-icons:visited {
    color: #fdff1d;
    display: inline; 
    font-size: 2.25em;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

a.social-icons:hover,
a.social-icons:active {
    color: #ff6633;
    text-decoration: none;
    transition: 0.75s;
}
    
/* ---------------------- Sections ---------------------- */
#top,
#about,
#skills,
#portfolio,
#contact {
    padding-top: 50px;
}

#tagline {
    margin: 15px auto;
}

#about,
#contact {
    max-width: 93%;
}

.services-row,
.small-col {
    margin: 10px auto 30px auto;
}

#portfolio {
    max-width: 90%;
    margin: 0 auto 40px auto; 
}

header,
#form {
    margin: 0 auto 10px auto;
}

#socmedia {
    margin: 30px auto 0 auto;
    padding: auto;
}

footer {
    margin: 30px auto 15px auto;
}

/* --------------- Headings and typography --------------- */
.nav {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

h1.intro {
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 1.6em;
    padding-left: 5%;
    margin: 15px auto 25px auto;
}

.name {
    font-weight: 700;
}

.name-break {
    display: inline;
}

.intro-break {
    display: inline;
}

p.learn-more {
    font-weight: 700;
    font-size: 0.85em;
    letter-spacing: 0.01em;
    margin: 15px auto 0 auto;
}

.arrow {
    color: #fdff1d;
}

p.about-me,
p.contact-intro {
    font-size: 1em;
    letter-spacing: 0.02em;
    line-height: 1.75em;
    margin: 30px auto;
}

p.about-me:last-child {
    margin-bottom: 50px;
}

h2.section-head {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #ecf0f1;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 25px auto;
}

h3 {}

h4.project-name,
h4.services-head {
    font-family: "Lato", Calibri, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.05em;
    letter-spacing: 0.2em;
    font-style: normal;
    line-height: 1.5em;
}

h5.subhead {
    display: none;
    font-size: 0.95em;
    line-height: 1em;
}

p.services {
    font-size: 1.2em;
    letter-spacing: 0.03em;
    line-height: 1.6em;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
}

.text-footer {
    font-size: 0.8em;
    letter-spacing: 0.01em;
}

a.link-backtotop,
a.link-backtotop:link,
a.link-backtotop:visited {
    color: #ecf0f1;
}

/* ------------------------- links ----------------------- */
.nav {
    background-color: #333399;
    padding-bottom: 15px;
    padding-top: 15px;
}

.button {
    margin: 30px auto;
}

a.text-logo,
a.text-logo:link,
a.text-logo:visited {
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: #ecf0f1;
}

a.link-contact,
a.link-contact:link,
a.link-contact:visited {
    font-size: 0.75em;
    font-family: "Lato", Calibri, Arial, sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ecf0f1;
    padding: 5px 10px;
    border: 0.5px solid;
}

a.link-contact:hover,
a.link-contact:active {
    color: #333399;
    background-color: #fdff1d;
}

a.text-logo:hover,
a.text-logo:active {
    color: #ecf0f1;
    text-decoration: none;
}

a.link-backtotop:hover,
a.link-backtotop:active {
    color: #fdff1d;
    text-decoration: none;
    transition: 0.75s;
}

a.link-portfolio,
a.link-portfolio:link,
a.link-portfolio:visited,
input[type=submit] {
    font-size: 1em;
    font-family: "Lato", Calibri, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #ff6633;
    border: 2px solid #ff6633;
    padding: 15px 20px;
    max-width: 300px;
}

a.link-portfolio:hover,
a.link-portfolio:active,
input[type=submit]:hover,
input[type=submit]:active {
    color: #333399;
    background-color: #fdff1d;
    border: 1px solid #fdff1d;
    transition: 0.5s;
}

/* ----------------------- Contact form ------------------ */
label {
    font-style: italic;
    font-size: 1em;
    letter-spacing: 0.03em;
    padding-bottom: 5px;
}

label,
input,
select,
textarea {
    width: 100%;
}

input,
select,
textarea {
    padding: 15px;
    color: #ecf0f1;
    border: none;
    background-color: #12124c;
    margin: 0 auto 25px auto;
}

textarea {
    height: 150px;
}

input:focus,
textarea:focus {
    background-color: #333399;
    outline: none;
}

input[type=submit]:focus {
    background-color: #12124c;
    outline: none;
}

#name,
#email,
#subject,
#message {
    color: #ecf0f1;
    font-size: 120%;
}

/* ---------------------- Breakpoint at 375px ---------------------- */
@media (min-width: 375px) {
    #portfolio {
        max-width: 95%;
    }

    h1.intro {
        text-align: center;
        padding-left: 0;
    }

    p.learn-more {
        font-size: 1em;
        letter-spacing: 0.03em;
    }

    hr {
        width: 20%;
    }
}

/* ---------------------- Breakpoint at 415px ---------------------- */
@media (min-width: 415px) {
    .name-break {
        display: none;
    }
}

/* ---------------------- Breakpoint at 650px ---------------------- */

@media (min-width: 650px) {
    #about,
    #contact {
        width: 90%;
    }

    .small-col {
        max-width: 33.333%;
        margin: auto;
    }

    p.services {
        font-size: 0.9em;
        max-width: 80%;
    }

    .image {
        width: 50%;
    }
}

/* ---------------------- Breakpoint at 730px ---------------------- */

@media (min-width: 730px) {
    p.services {
        font-size: 1em;
        max-width: 80%;
    }

    #about,
    #contact {
        width: 93%;
    }
}

/* ------- Breakpoint at 760px (Tablet vertical orientation) ------- */
@media (min-width: 760px) {
    .nav {
        font-size: 1.1em;
        letter-spacing: 0.1em;
    }

    #tagline {
        margin: 40px auto;
    }

    h1.intro {
        font-size: 1.7em;
        letter-spacing: 0.06em;
        line-height: 2em;
        margin: 20px auto 25px auto;
    }

    #about,
    #contact {
        max-width: 76%;
    }

    p.services {
        font-size: 1.05em;
        max-width: 95%; 
    }

    a.social-icons,
    a.social-icons:link,
    a.social-icons:visited {
        padding: 5px 25px;
    }

    label {
        font-size: 1.2em;
    }

    input,
    select,
    textarea {
        padding: 10px;    
    }
}

/* --------------------- Breakpoint at 1000px and up) ----------------- */
@media (min-width: 1000px) {
    #tagline {
        margin: 20px auto;
    }
    
    h1.intro {
        font-size: 2em;
        letter-spacing: 0.06em;
        line-height: 2em;
        margin: 15px auto;
    }

    h2.section-head {
        font-size: 2em;
    }

    h4.services-head {
        padding-top: 20px;
    }

    .services-row {
        margin: 30px auto;
    }

    p.services {
        font-size: 1.4em;
        letter-spacing: 0.03em;
        line-height: 1.7em;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
    }

    p.about-me,
    p.contact-intro {
        font-size: 1.2em;
        letter-spacing: 0.02em;
        line-height: 1.95em;
    }

    h4.project-name {
        font-size: 1.25em;
        line-height: 1em;
        margin-bottom: 5px;
    }

    h5.subhead {
        display: inline;
    }
}

/* --------------------- Breakpoint at 1199px and up) ----------------- */
@media (min-width: 1199px) {
    #about,
    #contact {
        max-width: 60%;
    }

    h1.intro {
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .intro-break {
        display: none;
    }

    p.about-me,
    p.contact-intro {
        font-size: 1.5em;
        letter-spacing: 0.03em;
        line-height: 1.9em;
    }

    p.services { 
        font-size: 1.2em;
        letter-spacing: 0.02em;
        line-height: 1.7em;
    }

    .services-icons {
        font-size: 2.75em;

    }
}
/*  Blue #333399
    Dark Blue #12124c    
    Warm Gray #ecf0f1   
    Yellow #fdff1d  
    Orange #ff6633
    Pink #ea6b64  */