html,
body {
    font-family: 'Droid Serif', serif;
    color: #ecf0f1;
	font-weight: 400;
    text-rendering: optimizeLegibility;
    padding-top: 20px;
    background: #333399; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#333399, #12124c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333399, #12124c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333399, #12124c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333399, #12124c); /* Standard syntax */
}

/* Images and icons */
.hero {
    margin: 10px auto;
}

.image {
    margin-top: 35px;
}

hr {
    margin: 5px auto;
    border: 2px dashed #333399;
    width: 50%;
}

hr.rule-first {
    margin: 0 auto 40px auto;
}

.services-icons {
    color: #ff6633;
    display: inline; 
    font-size: 200%;
    text-decoration: none;
}

.social-icons,
a.social-icons:link,
a.social-icons:visited {
    color: #fdff1d;
    display: inline; 
    font-size: 200%;
    text-decoration: none;
    padding: 5px 25px;
}

a.social-icons:hover,
a.social-icons:active {
    color: #ff6633;
    text-decoration: none;
    transition: 0.75s;
}
    
/* Sections */
#top,
#about,
#skills,
#portfolio,
#contact {
    padding-top: 50px;
}

#tagline {
    margin: 15px auto;
}

#about,
#form {
    max-width: 93%;
}

.small-col {
    margin: 10px auto 30px auto;
}

#portfolio {
    max-width: 90%;
    margin: 0 auto 40px auto; 
}

header,
#form {
    margin: 0 auto 10px auto;
}

#socmedia {
    margin: 30px auto 0 auto;
    padding: auto;
}

footer {
    margin: 30px auto 15px auto;
}

/* --------------- Headings and typography --------------- */
h1.name {
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1.6em;
}

p.intro {
    font-size: 1.25em;
    letter-spacing: 0.02em;
    line-height: 1.45em;
    margin: 15px auto;
}

.name-break {
    display: none;
}

p.learn-more {
    color: #fdff1d;
    font-size: 90%;
    margin: 20px auto 0 auto;
}

p.about-me,
p.contact-intro {
    font-size: 1em;
    letter-spacing: 0.02em;
    line-height: 1.75em;
    margin: 30px auto;
}

p.about-me:last-child {
    margin-bottom: 50px;
}

h2.section-head {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #ecf0f1;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 35px auto 30px auto;
}

h3 {}

h4.project-name,
h4.services-head {
    font-family: "Lato", Calibri, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.05em;
    letter-spacing: 0.2em;
    font-style: normal;
    line-height: 1.5em;
}

h5.subhead {
    font-size: 95%;
    line-height: 95%;
}

p.services {
    font-size: 1.2em;
    letter-spacing: 0.03em;
    line-height: 1.6em;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
}

.text-footer {
    font-size: 75%;
}

/* Navigation and links */
.nav {
    background-color: #333399;
    padding-bottom: 15px;
    padding-top: 15px; 
	font-size: 90%;
}

.button {
    margin: 30px auto;
}

.text-logo,
a.text-logo:link,
a.text-logo:visited,
.link-contact,
a.link-contact:link,
a.link-contact:visited,
.link-backtotop,
a.link-backtotop:link,
a.link-backtotop:visited {
	font-weight: 700;
	color: #ecf0f1;
	letter-spacing: 1px;
    text-decoration: none;
}

a.text-logo:hover,
a.text-logo:active {
    color: #ecf0f1;
    text-decoration: none;
}

a.link-contact:hover,
a.link-contact:active,
a.link-backtotop:hover,
a.link-backtotop:active {
    color: #ff6633;
    font-style: italic;
    text-decoration: underline;
    transition: 0.75s;
}

.link-portfolio,
a.link-portfolio:link,
a.link-portfolio:visited,
input[type=submit] {
    font-family: "Lato", Calibri, Arial, sans-serif;
    text-transform: uppercase;
    color: #ff6633;
    border: 2px solid #ff6633;
    font-size: 1em;
    letter-spacing: 0.2em;
    text-decoration: none;
    border-radius: 2px;
    padding: 15px 20px;
    max-width: 300px;
}

a.link-portfolio:hover,
a.link-portfolio:active,
input[type=submit]:hover,
input[type=submit]:active {
    color: #333399;
    background-color: #fdff1d;
    border: 1px solid #fdff1d;
    transition: 0.5s;
}

/* Contact form */
label {
    font-style: italic;
    font-size: 115%;    
    padding-bottom: 5px;
}

label,
input,
select,
textarea {
    width: 100%;
}

input,
select,
textarea {
    padding: 15px;
    color: #ecf0f1;
    border: none;
    background-color: #12124c;
    margin: 0 auto 25px auto;
}

textarea {
    height: 150px;
}

input:focus,
textarea:focus {
    background-color: #333399;
    outline: none;
}

input[type=submit]:focus {
    background-color: #12124c;
    outline: none;
}

#name,
#email,
#subject,
#message {
    color: #ecf0f1;
    font-size: 120%;
}

/* ---------------- iPhone 6 Plus (below 415px) ---------------- */
@media screen and (max-width: 415px) {
    .name-break {
        display: inline;
    }

    h5.subhead {
        display: none;
    }

    .social-icons,
    a.social-icons:link,
    a.social-icons:visited {
        padding-left: 15px;
        padding-right: 15px;
    }

    label {
        font-size: 105%;
    }
}

/* Device on landscape orientation  */
@media screen and (min-width: 416px) and (max-width: 767px) {
    h1.name {
        font-size: 105%;
        font-weight: normal;
        letter-spacing: 0.25px;
        margin: 25px auto 30px auto;
        max-width: 95%;
    }

    p.intro {
        line-height: 100%;
    }

    #portfolio {
        max-width: 95%;
    }

    #form {
        max-width: 90%;
    }

    h4.project-name {
        font-size: 85%;
        padding-bottom: 20px;
    }

    h5.subhead {
        display: none;
    }

    p.services {
        font-size: 115%;
        max-width: 60%;
    }

    .image {
        max-width: 50%;
    }
}

/* Large tablet and device on vertical orientation */
@media screen and (min-width: 768px) {
    #about,
    #form {
        max-width: 75%;
    }

    p.intro {
        font-size: 125%;
    }

    p.services {
        font-size: 1.05em;
    }

    nav {
        font-size: 125%;
    }

    label {
        font-size: 125%;
    }

    input,
    select,
    textarea {
        padding: 10px;    
    }
}        

/* Large devices (1000px and up) */
@media screen and (min-width: 1000px) {
    hr {
        width: 80%;
    }

    h1.name {
        font-size: 2.25em;
    }

    p.intro,
    p.contact-intro {
        font-size: 155%;
        letter-spacing: 1px;
        line-height: 170%;
    }

    h2.section-head {
        font-size: 2em;
        margin: 60px auto 50px auto;
    }

    h4.services-head {
        padding-top: 20px;
    }

    p.services {
        font-size: 1.4em;
        letter-spacing: 0.03em;
        line-height: 1.7em;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
    }

    p.about-me,
    p.contact-intro {
        font-size: 1.35em;
        letter-spacing: 0.03em;
        line-height: 1.95em;
    }

    h5.subhead {
        font-size: 115%;
        letter-spacing: 0.25px;
    }
}
/*  Blue #333399
    Dark Blue #12124c    
    Warm Gray #ecf0f1   
    Yellow #fdff1d  
    Orange #ff6633
    Pink #ea6b64  */